---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  //"minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* MY SIDEBAR WITHOUT MORE LEVELS OFTAGS */
div.post-content > #markdown-toc {position:fixed;top:80px;left:70%;max-width:320px}
div.post-content > #markdown-toc {list-style:none;padding-left:0;margin-left:0;}
div.home > #markdown-toc {position:fixed;top:80px;left:70%;max-width:320px}
div.home > #markdown-toc {list-style:none;padding-left:0;margin-left:0;}
div.wrapper-sidebar {max-width:960px;margin-left:5%;}
div.post-content > p {width:80%;max-width:960;}
table,hr,p,li,figure.highlight,div.highlight {width:80%;max-width:960;}
