<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
	  {% if page.show_sidebar == true %}
	    {% assign class_wrapper = "wrapper-sidebar" %}
	  {% else %}
	    {% assign class_wrapper = "wrapper" %}
	  {% endif %}
	  <div class={{ class_wrapper }}>
	    {{ content }}
	  </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
